@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
:root {
  --highlight: #735fff;
  --light-highlight: rgb(216, 232, 255);
  --text: black;
  --subtext: #464853;
  --medium-text: rgba(0,0,0,0.6);
  --light-text: #c0c0c0;
  --border: 1px solid #f2edff;
  --dark-border: 1px solid #dacfe8;
  --shadow: 0 2px 10px 1px rgba(0,0,0,0.1);
  --background: #fafbff;
}
body {
  margin: 0;
  font-family: 'Source Sans Pro', 'Rubik';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}
a, a:visited {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.full-width {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0;
}

.grecaptcha-badge { visibility: hidden; }

